:root {
    --bg: white;
    --fg: whitesmoke;
    --muted: grey;
    --accent1: blueviolet;
}

#app {
    /* padding: 24px; */
}

a {
    cursor: pointer;
}

.brand {
    color: var(--accent1) !important;
}

main {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.nav-btn-container {
    display: block;
}

.box {
    background-color: var(--fg);
    padding: 16px;
    border-radius: 16px;
    min-width: 10dvh;
    max-width: 50dvh;
    text-align: center;
    margin: auto;
    box-shadow: 4px 4px 16px var(--muted);
    transition: transform 0.2s ease-in-out;
}

.box:hover {
    transform: translateY(-10px);
}

.box-footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--accent1);
    padding-top: 4px;
}

.img-box {
    width: 100dvh;
    height: 30dvh;
    background-color: var(--accent1);
    border-radius: 8px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hero-left {
    text-align: end;
    width: 50dvh;
}

.hero {
    margin: auto;
    margin-top: 12px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    background-color: var(--bg);
    /* max-width: 80dvh; */
    /* min-height: 100vh; */
    gap: 12px;
    border-radius: 16px;
    flex: 1;
}

.hero-section {
    display: block;
}

.image-preview {
    width: 30dvh;
    height: 30dvh;
    background-color: var(--accent1);
    border-radius: 8px;
    border: none;
}

.image-preview-container {
    display: flex;
    gap: 12px;
    /* background-color: rgb(236, 236, 236); */
    padding: 16px;
    border-radius: 8px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.footer {
    /* background-color: #f4f5f6; */
    padding: 3rem 0;
    margin-top: auto;
}

/* Opsional: Teks rata tengah */
.footer p {
    text-align: center;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .image-preview {
        width: 15dvh;
        height: 15dvh;
    }

    .hero-left {
        text-align: center;
    }

    .hero-section {
        display: none;
    }

    .box {
        width: 40dvh;
    }

    .nav-btn-container {
        display: none;
    }
}
