:root{
  --bg: rgb(244, 244, 244);
}

#app{
  /* padding: 24px; */
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center{
  text-align: center;
}

.hero{
  margin: auto;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--bg);
  /* max-width: 80dvh; */
  /* min-height: 100vh; */
  
  border-radius: 16px;
  flex: 1;
}

.image-preview{
  width: 30dvh;
  height: 30dvh;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: none;
  
}

.image-preview-container{
  display: flex;
  gap: 12px;
  /* background-color: rgb(236, 236, 236); */
  padding: 16px;
  border-radius: 8px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.footer {
    /* background-color: #f4f5f6; */
    padding: 3rem 0;
    margin-top: auto;
}

/* Opsional: Teks rata tengah */
.footer p {
    text-align: center;
    margin-bottom: 0;
}
